$border-radius-wrapper: 10px;
$container-card-width: 650px;

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
.container-main {
  background: radial-gradient(
    circle,
    rgb(142, 250, 212) 0%,
    rgb(173, 250, 223) 67%,
    rgb(173, 250, 219) 100%
  );
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 100px 50px 100px;
}
.container-card {
  background: linear-gradient(
    180deg,
    rgb(250, 250, 255) 0%,
    rgb(255, 255, 244) 55%,
    rgb(222, 238, 233) 95%
  );
  margin: 0px;
  //width: 650px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-radius: $border-radius-wrapper;
  box-shadow: 2px 3px 8px 0px #393b3b;

  .loginpage-img {
    height: 557px;
    //height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 0px $border-radius-wrapper $border-radius-wrapper 0px;
  }
}

.wrap-login {
  width: 400px;
  //min-width: 40%;
  padding: 35px 35px 35px 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; //default
  align-items: center;
}

.title-header {
    text-align: center;
    margin: 0px auto 10px auto;
    flex-basis: 20%;
    font-size: 34px;
}
.login-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}




* {
  box-sizing: border-box;
}
