.app {
  display: inline-block;
  width: 800px;
  margin: 20px 20px 20px 150px;
}

.content-wrap {
  display: inline-flex;
}

.main-header {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  font-family: "Segoe UI", "Roboto";
  margin-bottom: 25px;
}

.workspace-wrap {
  margin-left: 80px;
}

input {
  border: none;
}

.workout-name {
  font-weight: 600;
  font-size: 24px;
  margin: 15px 0px 20px 0px;
}

$ex-input-text-width: 275px;
$ex-input-num-width: 75px;
$ex-input-margin-right: 15px;

.exercise-list-bar {
  display: grid;
  grid-template-columns: ($ex-input-text-width + $ex-input-margin-right) (
      $ex-input-num-width + $ex-input-margin-right
    ) ($ex-input-num-width + $ex-input-margin-right) auto;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

.exercise-list-item-wrap {
  margin-bottom: 10px;
}

.exercise-input-div > input {
  margin-right: $ex-input-margin-right;
  font-size: 16px;
}

.exercise-input-text {
  width: $ex-input-text-width;
}

.exercise-input-numeric {
  width: $ex-input-num-width;
}

.delete-exercise-btn {
  margin-left: 10px;
  width: fit-content;
  height: fit-content;
}

.load-save-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;

  > button {
    margin: 5px;
    width: 75px;
    font-size: 18px;
    font-weight: 500;
  }
}

.edit-btn {
  margin-top: 30px;
}

@media only screen and (max-width: 940px) {
  .app {
    margin: 20px;
  }
  .workspace-wrap {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 770px) {
  .app {
    display: flex;
    flex-wrap: wrap;
  }
  .content-wrap {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}
